.titulo{
color:#fff;
text-shadow:
	1px 1px 0px #777,
	2px 2px 0px #777,
	3px 3px 0px #666,
	4px 4px 0px #666,
	5px 5px 0px #555,
	6px 6px 0px #555,
	7px 7px 0px #444; 
	}
	.nav a li
{
text-align:right;
}

footer{
height:150px;
background-color:#000;
color:#fff;
}
.img-circle{
height:100px;
}
nav navbar-nav li a{
text-align:right;
}
